<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
    <div class="container-fluid">
        <a class="navbar-brand text-danger" href="/"><i class="fa-brands fa-airbnb"></i>airbnb</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link"  href="/">Home</a>
                <a class="nav-link" href="/listings">All Listings</a>
                <a class="nav-link" href="/listings/new">Add New Listings</a>
            </div>
        </div>
        <div class="right_nav" style="justify-content: space-evenly;">
            <div class="search" style="justify-content:space-between; padding: 1 rem;">
                <input type="text" placeholder="search" class="search-bar" style="width: 17rem; text-align: center; border-radius: 1.2rem; ">
            <a href="/listings" style="padding-right: 2rem;"><i class="fa-solid fa-magnifying-glass"></i></a>
            <a href="/login" class="users" style="text-decoration: none; color:black ;"><i class="fa-regular fa-user" style="padding-right: 1.5 rem;"></i>    login/signup</a>
            </div>
        </div>
    </div>
</nav>